md-card {
    margin: 25px;
}

md-list[dense] md-list-item md-icon[md-list-avatar] {
    height: 25px;
}

.status-thumb {
    color: green;
}

md-icon.status-thumb svg {
    fill: green !important;
}

button.status-trigger[md-icon-button] {
    height: 30px;
    width: 30px;
}
